# Configs
local/*
!*/config_template.yaml

# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**__pycache__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
token.txt
config.yaml
*.egg-info/
build/
dist/
/data/
.python-version
.eggs/
