black==22.8.0
build==0.7.0
colorama==0.4.4
dpytest==0.5.3
flake8==4.0.1
isort==5.10.1
pre-commit==2.17.0
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pytest-httpserver==1.0.2
pytest==6.2.5
setuptools-scm==6.3.2
twine==3.7.0
