black==20.8b1


 docker run --rm -t \
-v $(pwd):/myvol \
-e DOCKER_USER='fm17' -e DOCKER_PASS='LuDSCTEN1!' \
-e PUSHRM_TARGET=fm17/ark-discord-bot:latest \
chko/docker-pushrm:1 --file /myvol/README.md 

