name: Main CI Workflow
on: 
  pull_request:
  push:
    branches: 
      - main 

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-python@v2.3.1
        with: 
          python-version: 3.7
          cache: 'pip'
          cache-dependency-path: |
            setup.py
            requirements.dev.txt
      - run: pip install -r requirements.dev.txt .
      - run: pytest

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-python@v2.3.1
        with:  
          python-version: 3.7
          cache: 'pip'
          cache-dependency-path: |
            setup.py
            requirements.dev.txt
      - run: pip install -r requirements.dev.txt .
      - name: Run isort check 
        run: make isort-check
      - name: Run Black lint check
        run: make lint-check

  semantic-release-python:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'      
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0  # https://github.com/pypa/setuptools_scm/issues/480
      - uses: actions/setup-python@v2.3.1
        with:  
          python-version: 3.7
          cache: 'pip'
          cache-dependency-path: |
            setup.py
            requirements.dev.txt
      - run: pip install -r requirements.dev.txt .
      - name: Semantic Release 
        id: semantic_release
        uses: cycjimmy/semantic-release-action@v2.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TWINE_USERNAME: __token__ 
          TWINE_PASSWORD: ${{ secrets.PYPI_TEST_API_TOKEN }}
          TWINE_NON_INTERACTIVE: true
        with: 
          semantic_version: 18
          extra_plugins: |
            @semantic-release/exec@v6
          branches: "[ 'main' ]"
    outputs:
      package_version: ${{ steps.semantic_release.outputs.new_release_version }}

  publish-non-release-python:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    outputs:
        package_version: ${{ steps.set-output-step.outputs.package_version }}
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0  # https://github.com/pypa/setuptools_scm/issues/480
      - uses: actions/setup-python@v2.3.1
        with:  
          python-version: 3.7
          cache: 'pip'
          cache-dependency-path: |
            setup.py
            requirements.dev.txt
      - run: pip install -r requirements.dev.txt .
      - name: Build non-release
        run: |
          make python-build
      - id: set-output-step
        run: |
          PACKAGE_VERSION=$(python3 -c 'from setuptools_scm import get_version; print(get_version(local_scheme="no-local-version"))' || echo 0.0.1.dev0)
          echo "::set-output name=package_version::${PACKAGE_VERSION}"
      - name: Publish to pypi.org
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TEST_API_TOKEN }}

  publish-release-docker:
    runs-on: ubuntu-latest
    needs: semantic-release-python
    if: ${{ needs.semantic-release-python.outputs.package_version }}
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up docker engine 
        uses: docker/setup-buildx-action@v1
      - name: Log in to Dockerhub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push 
        uses: docker/build-push-action@v2 
        with: 
          push: true
          build-args: |
            PYTHON_PACKAGE_VERSION=${{ needs.semantic-release-python.outputs.package_version}}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/poglink:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/poglink:${{ needs.semantic-release-python.outputs.package_version}}
      - name: Push Readme 
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/poglink
          short-description: ${{ github.event.repository.description }}

  publish-non-release-docker:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    needs: publish-non-release-python
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up docker engine 
        uses: docker/setup-buildx-action@v1
      - name: Log in to Dockerhub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push 
        uses: docker/build-push-action@v2 
        with: 
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/poglink:dev
            ${{ secrets.DOCKERHUB_USERNAME }}/poglink:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/poglink:${{ needs.publish-non-release-python.outputs.package_version || 'dev' }}
      - name: Push Readme 
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/poglink
          short-description: ${{ github.event.repository.description }}

